doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

    block head    
  body
    block content
    
    a.logo(href='https://todor46.github.io/tkonjevic')
      img(src='/images/tk-logo-small.png')
          
